<div class="container mt-5">
  <h1 class="text-center">Book Inventory Management</h1>

  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/books" routerLinkActive="active">Book List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books/add" routerLinkActive="active">Add Book</a>
      </li>
    </ul>
  </nav>

  <div class="my-4">
    <!-- This is where routed components will be rendered -->
    <router-outlet></router-outlet>
  </div>
</div>
